html {background-color: #22c7d3; }

h3 {
    background-color: #5E1485;
    font-size: 40px;
}

a { color: white;
}

h1 {
    font-style: italic;
    font-size: 30px;
}

h2 {
    font-size: 30px;
    font-style: italic;
}

li {
    font-size: 24px;
}

p {
    font-size: 20px;
}